@import '../../styles/settings.scss';

.columnForm {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 0 10px;
}

.column {
  margin: 10px;
}

@media (max-width: 767px) {
  .columnForm {
    flex-wrap: wrap;
  }
}