@import '../../styles/settings.scss';

.hero {
  padding: $base-size;
}

.subtitle {
  padding: ($base-size * 2) 10;
  text-align: center;
  font-size: ($base-size * 1.5);
  font-style: italic;
  font-weight: normal;
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}